---
import '../styles/global.css';
console.log("Hello There!");
const title = "Hello There!";

const response = await fetch(`${import.meta.env.WPGRAPHQL_URL}`,  {
  method: "POST",
  headers: {
    "content-type": "application/json"
  },
  body: JSON.stringify({
    query: `
      query PageQuery {
        nodeByUri(uri: "/") {
          ... on Page {
            id
            blocks
          }
        }
      }
    `  
  })
});
const {data} = await response.json();
console.log(data.data.nodeByUri);

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<h1 class="bg-red-500">title {title}</h1>
	</body>
</html>

<style>
</style>
